<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing Page - Ebook
-->

{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--landing-page-ebook', label='Main section' %}
    {# INICIO - Banner #}
    {% dnd_section 
      max_width=1400,
      background_color={
        r: 255,
        g: 255,
        b: 255,
        a: 1.0
      },
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      %}
      {% dnd_column 
        offset=0,
        width=7,
        padding={
          'left': 16,
          'right': 16
        },
        %}
        {% dnd_row 
          vertical_alignment='TOP'
          %}
          {% dnd_column 
            offset=0,
            width=2,
            padding={
              'top': 40,
              'bottom': 0,
              'left': 0,
              'right': 0
            }
            %}
            {% dnd_row %}
              <div>
                {% dnd_module path='@hubspot/logo' %}
                {% end_dnd_module %}
              </div>
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column 
            offset=2,
            width=10,
            padding={
              'top': 0,
              'bottom': 0,
              'left': 0,
              'right': 0
            }
            %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/linked_image',
              img={
                'alt': 'Stock placeholder image with grayscale geometrical mountain landscape',
                'size_type': 'auto',
                'src': get_asset_url('../images/grayscale-mountain.png')
              }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row 
          padding={
            'bottom': 30
          }
          %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <h1><span style="color: #ff2ca7;"><strong>Robotic Proces Automation</strong></span></h1>
              <h2>Como a automação robotizada de processos eleva a competitividade empresarial</h2>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column 
        offset=7,
        width=5
      %}
        {% dnd_row 
          background_color={
            r: 45,
            g: 45,
            b: 45,
            a: 1.0
          },
          padding={
            'top': 30,
            'bottom': 40,
            'left': 20,
            'right': 20
          },
          %}
          {% dnd_module path='@hubspot/form'
            horizontal_alignment: 'CENTER',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# FIM - Banner #}
    {# INICIO - Seção todos os Capítulos #}
    {% dnd_section %}
      {% dnd_module path="../modules/Chapter"%}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {# FIM - Seção todos os Capítulos #}
    {# INICIO - Capítulo de destaque #}
    {% dnd_section 
      background_color={
        r: 45,
        g: 45,
        b: 45,
        a: 1
      },
      padding={
        'top': 60,
        'bottom': 60
      },
      max_width=900
      %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/linked_image',
          horizontal_alignment="CENTER"
          img={
            'alt': 'Stock placeholder image with grayscale geometrical mountain landscape',
            'size_type': 'auto',
            'src': get_asset_url('../images/grayscale-mountain.png')
          }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row 
          margin={
            'top': 20
          }
          %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <h2 style="text-align:center;color:#fff;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row 
          margin={
            'top': 20
          }
          %}
          {% dnd_module path='@hubspot/cta' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# FIM - Capítulo de destaque #}

    {# INICIO - Seção sobre a MJV e Form #}
      {% dnd_section 
        padding={
          'top': 90,
          'bottom':0
        },
        max_width=950
        %}
        {% dnd_module path='@hubspot/rich_text'
          horizontal_alignment="CENTER",
        %}
          {% module_attribute 'html' %}
            <h2 style="text-align:center;"><span style="font-size:42px;"><strong>MJV Techonlogy and Innovation</strong></span></h2>
            <p style="text-align:center;">Somos uma consultoria global de inovação e tecnologia. Fornecemos soluções end-to-end, da ideação até a implementação de TI, passando por Data Science e Analytics.</p>
            <p style="text-align:center;">Iniciamos nossa trajetória na área de TI! Mas também nos transformamos, trouxemos o Design Thinking e o Ágil para nosso DNA a fim de compreender a fundo o negócios dos nossos clientes e alcançar resultados cada vez mais eficientes.</p>
            <p style="text-align:center;">Nesse processo de evolução, entendemos que não há como uma empresa ser competitiva sem Data Science e Analytics.</p>
            <p style="text-align:center;">Dessa forma enriquecemos ainda mais nosso ciclo de soluções end-to-end. Hoje, atuamos desde o entendimento do cliente até a construção de cenários futuros, desenvolvendo tecnologias e operações mais inteligentes, sempre orientadas por dados.</p>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_section %}
      {% dnd_section 
        padding={
          'top':10
        }
      %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_column 
            offset=0,
            width=3,
            margin={
              'top': 25,
              'bottom': 0
            },
            padding={
              'top': 16,
              'bottom': 16
            },
            background_color={
              r: 250,
              g: 250,
              b: 250,
              a: 1
            }
            %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/rich_text' %}
                {% module_attribute 'html' %}
                <h3><span style="color:#ff2ca7;">Consultoria em tecnologia</span></h3>
                <p>Desenvolvimento e implementação de serviços personalizados nas áres de Business Analytics, TI e Internet das Coisas (Internet of Things).</p>
              {% end_module_attribute %}
            {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column 
            offset=3,
            width=3,
            margin={
              'top': 25,
              'bottom': 0
            },
            padding={
              'top': 16,
              'bottom': 16
            },
            background_color={
              r: 250,
              g: 250,
              b: 250,
              a: 1
            }
            %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/rich_text' %}
                {% module_attribute 'html' %}
                <h3><span style="color:#ff2ca7;">Outsourcing de Profissionais</span></h3>
                <p>Alocação de profissionais de UX, UI, Marketing e TI, com o acompanhamento estratégico e operacional da MJV, otimizando entregas.</p>
              {% end_module_attribute %}
            {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column 
            offset=6,
            width=3,
            margin={
              'top': 25,
              'bottom': 0
            },
            padding={
              'top': 16,
              'bottom': 16
            },
            background_color={
              r: 250,
              g: 250,
              b: 250,
              a: 1
            }
            %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/rich_text' %}
                {% module_attribute 'html' %}
                <h3><span style="color:#ff2ca7;">Estratégia Digital</span></h3>
                <p>Desenvolvimento e implementação de estratégia corporativa e Experiência do Usuário, posicionando a Transformação Digital como fio condutor do negócio.</p>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% end_dnd_column %}
            {% dnd_column 
              offset=9,
              width=3,
              margin={
                'top': 25,
                'bottom': 0
              },
              padding={
                'top': 16,
                'bottom': 16
              },
              background_color={
                r: 250,
                g: 250,
                b: 250,
                a: 1
              }
              %}
              {% dnd_row %}
                {% dnd_module path='@hubspot/rich_text' %}
                  {% module_attribute 'html' %}
                  <h3><span style="color:#ff2ca7;">Inovação em Negócios</span></h3>
                  <p>Desenvolvimento e implementação de soluções inovadoras, com o objetivo de reduzir custos, aumentar e gerar novas receitas, além de desenvolver novos modelos de negócios.</p>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}   
    {% end_dnd_section %}
      {# FIM - Seção sobre a MJV e Form #}

    {% end_dnd_area %}
  </main>
{% endblock body %}

{% block footer %}
  {% module "footer-default" path="../modules/footer" %}
{% endblock footer %}