<!--
  templateType: global_partial
  label: Footer Contact
-->
<footer class="footer footer-contact footer-white">
  <div class="footer__container content-wrapper">
    {# Social follow section #}
    <div class="footer-social">
      {% module_block module 'footer_follow_text' path='@hubspot/text' %}
        {% module_attribute 'value' %}
          <h5>Siga-nos nas redes sociais</h5>
        {% end_module_attribute %}
      {% end_module_block %}
      {% module_block module 'footer_social' path='../../modules/social-follow',
      label='Social follow'
      %}
        {% module_attribute 'social_link' is_json=True %}
          [
            {"social_account": "facebook-f"},
            {"social_account": "linkedin-in"},
            {"social_account": "twitter"},
            {"social_account": "instagram"}
          ]
        {% end_module_attribute %}
      {% end_module_block %}
    </div>
    {# End social follow section #}

    {# Copyright information section #}
    <div class="footer__copyright">
      {% module_block module 'footer_copyright_text' path='@hubspot/rich_text' %}
        {% module_attribute 'html' %}
        <a href="https://www.mjvinnovation.com/pt-br/" style="font-size:20px;">www.mjvinnovation.com</a>
        <p style="font-size:16px;">© MJV Technology and Innovation {{ year }}</p>
        
        <p><a href="#" style="font-size:14px;">Terms of service</a> | <a href="#" style="font-size:14px;">Privacy</a></p>
        {% end_module_attribute %}
      {% end_module_block %}
    </div>
    {# End copyright information section #}

  </div>
</footer>
