.footer {
  background-color: #F8FAFC;
  text-align: center;
}

.footer__container.content-wrapper {
  padding: 1.5rem 0;
}

.footer__copyright {
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

#hs_cos_wrapper_footer_copyright_text_ {
  color: #707070;
}
#hs_cos_wrapper_footer_copyright_text_ a{
  color: #707070;
  transition: 400ms;
}

.footer.footer-white {
  background-color: #fff !important;
  color: #2d2d2d !important;
}

@media (min-width: 992px){
  .footer.footer-contact .footer__container{
    display: flex;
    justify-content: space-between;
    padding: 3em 0;
  }
  .footer.footer-contact .footer-social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer.footer-contact .footer__copyright {
    text-align: right;
  }
  #hs_cos_wrapper_footer_copyright_text_ a:hover {
    color: #ffffff;
    text-decoration: none;
  }

  .footer.footer-white #hs_cos_wrapper_footer_copyright_text_ a:hover {
    color: #2d2d2d;
    text-decoration: none;
  }
}

.footer.footer-white h1, .footer.footer-white h2, .footer.footer-white h3, .footer.footer-white h4, .footer.footer-white h5, .footer.footer-white h6 .footer.footer-white p, .footer.footer-white a, .footer.footer-white div, .footer.footer-white span {
  color: #2d2d2d !important;
}

footer.footer-white .social-links__icon svg {
  fill: #2d2d2d !important;
}
