.content-wrapper {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}

@media screen and (min-width: 1380px) {
  .content-wrapper {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .dnd-section {
    padding: 5em 1em !important;
  }
}
.dnd-section > .row-fluid {
  margin: 0 auto;
  max-width: 1200px;
}

.dnd-section .dnd-column {
  padding: 0 20px;
}

@media (max-width: 767px) {
  .dnd-section .dnd-column {
    padding: 0;
  }
  .body-container--landing-page-ebook .dnd-section .dnd-column {
    padding: 0 0 0 20px;
  }
  
}

.body-container--landing-page-ebook .row-fluid .span3 {
  padding: 1.1em 1.25em;
}